
body {
  background-color:rgb(240, 233, 233);
}

.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  text-align: left;
  padding-left: 2%;
  font-family: 'Courier New', Courier, monospace;
}
.navbar {
   position: relative;
   width: calc(100% - 70px);
   margin: 0 auto;
   padding: 10px 0;
   background: #333;
   z-index: 1;
   padding-right: 2%;
   height: 50px;
   
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navbar, .dropdown:hover .dropbtn, .dropbtn:focus, .menu-link:hover {
    color: yellow;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-transform: initial;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: yellow;
  }
  
  
  .show {
    display: block;
  }
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    text-align: left;
    padding-left: 2%;
    font-family: 'Courier New', Courier, monospace;
  }


  /* Old navbar wings 
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }

  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }*/